Schema/Halo1/HaloPointAdjustmentRequest1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" elementFormDefault="qualified">
	<xs:element name="s2sMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="s2sHeader">
					<xs:complexType>
						<xs:attribute name="toSystem" type="xs:anyURI" use="required" form="qualified"/>
						<xs:attribute name="referenceMessageId" type="xs:long" use="optional" form="qualified"/>
						<xs:attribute name="messageId" type="xs:long" use="required" form="qualified"/>
						<xs:attribute name="fromSystem" type="xs:anyURI" use="required" form="qualified"/>
						<xs:attribute name="dateTimeSent" type="xs:dateTime" use="required" form="qualified"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="s2sBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="WAT">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="requestTransfer">
											<xs:complexType>
												<xs:attribute name="watAmount" type="xs:long" use="required" form="qualified"/>
												<xs:attribute name="transferAction" type="xs:string" use="required" form="qualified"/>
												<xs:attribute name="playerId" type="xs:string" use="required" form="qualified"/>
												<xs:attribute name="creditType" type="xs:string" use="required" form="qualified"/>
												<xs:attribute name="accountId" type="xs:string" use="required" form="qualified"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="transDateTime" type="xs:dateTime" use="required" form="qualified"/>
									<xs:attribute name="timeToLive" type="xs:int" form="qualified"/>
									<xs:attribute name="sessionType" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="sessionRetry" type="xs:int" form="qualified"/>
									<xs:attribute name="sessionId" type="xs:long" form="qualified"/>
									<xs:attribute name="retryCount" type="xs:int" form="qualified"/>
									<xs:attribute name="propertyId" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="gameDate" type="xs:dateTime" use="required" form="qualified"/>
									<xs:attribute name="dateTime" type="xs:dateTime" use="required" form="qualified"/>
									<xs:attribute name="commandId" type="xs:long" form="qualified"/>
									<xs:attribute name="clientType" type="xs:string" form="qualified"/>
									<xs:attribute name="clientId" type="xs:string" form="qualified"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
