Schema/BallyRequestPlayerBalance_app2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Ravi (Droisys Inc) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:pli="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:pli2="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli2" elementFormDefault="qualified">
  <xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" schemaLocation="BallyRequestPlayerBalance.xsd"/>
  <xs:attribute name="meterDenom" type="xs:long" />
  <xs:attribute name="gameId" type="xs:string"/>
  <xs:attribute name="machineId" type="xs:long"/>
</xs:schema>
