Schema/BallyRequestPlayerBalance_app1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Ravi (Droisys Inc) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:pli="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:pli2="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" elementFormDefault="qualified">
	<xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" schemaLocation="BallyRequestPlayerBalance.xsd"/>
  <xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli2" schemaLocation="BallyRequestPlayerBalance_app2.xsd"/>
  <xs:element name="playerInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getPlayerBalances">
					<xs:complexType>
						<xs:attribute name="playerId" type="xs:string" use="required" form="qualified"/>
						<xs:attribute name="includeAll" type="xs:boolean" form="qualified"/>
            <xs:attribute name="accountId" type="xs:string" form="qualified"/>
            <xs:attribute name="requestSource" type="xs:string" form="qualified"/>
            <xs:attribute ref="pli2:meterDenom" use="optional"/>
            <xs:attribute ref="pli2:gameId" use="optional"/>
            <xs:attribute ref="pli2:machineId" use="optional"/>
          </xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="s2s:transDateTime" use="required"/>
			<xs:attribute ref="s2s:timeToLive" use="required"/>
			<xs:attribute ref="s2s:sessionType" use="required"/>
			<xs:attribute ref="s2s:sessionRetry"/>
			<xs:attribute ref="s2s:sessionId"/>
			<xs:attribute ref="s2s:retryCount"/>
			<xs:attribute ref="s2s:propertyId" use="required"/>
			<xs:attribute ref="s2s:gameDate" use="required"/>
			<xs:attribute ref="s2s:dateTime" use="required"/>
			<xs:attribute ref="s2s:commandId"/>
			<xs:attribute ref="s2s:clientType"/>
			<xs:attribute ref="s2s:clientId"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
